<!-- Book now -->
<div fxLayout="column" style="height: 75%;">
  <div>
    <h1 style="text-align: center;color:#4F3460;margin-top: 5%;font-size: 46px;">Find The Best Vehical for Your Ride</h1>
  </div>
  <div fxLayout="row" style="height: 5%;">
    <div style="width: 50%;height: 50%;">
      <img src="../../assets/rental car.png" style="width: 120%;margin-top: -20%;" >
    </div>
    <div fxLayout="column" fxLayoutGap="5%" style="width: 50%;margin-left: 20%; margin-top:4%;">
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Mobile Number" name="name" id='name' required />
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name of the Customer" name="name" id='name' required />
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Number of Passengers" name="name" id='name' required />
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Date of event" name="name" id='name' required />
      </div>
    </div>
  </div>

</div>
<div style="height: 10%;">
  <button mat-raised-button color="primary" style="background-color:#4F3460;margin-top: 0%;margin-left: 48%;"> Get Quotation</button>
</div>
<hr style="width: 50%;color: #C7C7C7;">
<!-- Why Choose us -->
<div fxlayout="column" style="height: 45%;;">
  <div>
     <h1 style="text-align: center;color:#4F3460;margin-top: 5%;font-size: 46px;">Why Choose Us</h1>
  </div>
  <div>
     <p fxFlex="55"  style="color:#847F7F;margin-top: 3%;font-size: 24px;margin-left: 22%;text-align: center;word-spacing: 10px;line-height: 30px; ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus magnis nisl habitasse id viverra risus euismod mattis. Enim vulputate blandit non, vitae sapien, habitant. Lectus aliquam orci, bibendum aliquam nibh. Phasellus quis aenean sodales massa mauris vestibulum at imperdiet egestas.
     </p>
  </div>
</div>
<!-- rental vehicals details -->
<div fxLayout="row" style="height: 50%;">
  <diV style="width: 50%;">
    <img src="../../assets/Lux cars rental.png" style="width: 80%;margin-left: 10%;">
  </diV>
  <div  style="width: 50%;">
    <h1 style="text-align: center;color:#4F3460;margin-top: 10%;font-size: 36px;margin-right: 5%;">Luxury Cars Rental</h1>
    <p style="color:#847F7F;margin-top: 7%;font-size: 24px;margin-left: 10%;text-align: center;word-spacing: 10px;line-height: 30px;width: 70%; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus magnis nisl habitasse id viverra risus euismod mattis. Enim vulputate</p>
  </div>
</div>
<div fxLayout="row" style="height: 50%;">
  <div  style="width: 50%;">
    <h1 style="text-align: center;color:#4F3460;margin-top: 10%;font-size: 36px;margin-right: 0%;">Cars rental</h1>
    <p style="color:#847F7F;margin-top: 7%;font-size: 24px;margin-left: 15%;text-align: center;word-spacing: 10px;line-height: 30px;width: 70%; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus magnis nisl habitasse id viverra risus euismod mattis. Enim vulputate</p>
  </div>
  <diV style="width: 50%;">
    <img src="../../assets/Cars rental.png" style="width: 70%;margin-left: 10%;margin-top: 8%;">
  </diV>
</div>
<div fxLayout="row" style="height: 60%;"mar>
  <diV style="width: 50%;">
    <img src="../../assets/bus rental.png" style="width: 70%;margin-left: 10%;margin-top: 5%;">
  </diV>
  <div  style="width: 50%;">
    <h1 style="text-align: center;color:#4F3460;margin-top: 10%;font-size: 36px;margin-right: 5%;">bus Rental</h1>
    <p style="color:#847F7F;margin-top: 7%;font-size: 24px;margin-left: 10%;text-align: center;word-spacing: 10px;line-height: 30px;width: 70%; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus magnis nisl habitasse id viverra risus euismod mattis. Enim vulputate</p>
  </div>
</div>
