
.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 80%;
}

.form__field {

  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(167, 163, 163);
  outline: 0;
  font-size: 1.3rem;
  color: rgb(160, 153, 153);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;


}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(117, 112, 112);
}

.form__field:focus {

    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #4F3460;
    font-weight:700;
  }



