<!-- Form -->
<div style="margin: 5%;">
  <div>
    <h1 style="color:#4F3460;margin-top: 5%;font-size: 46px;margin-right: 0%;margin-left: 0%;text-align: center;">Feel Free To contact Us</h1>
  </div>
  <div fxLayout="row">
    <div style="width: 50%;">
      <img src="../../assets/Contact vector.jpg" style="width: 90%;margin-top: 7%;">
    </div>
    <div class="container" style="width: 50%;margin-left: 0%;margin-top: 5%;">
      <form action="/action_page.php">
        <label for="fname">Customer Mail ID</label>
        <input type="text" id="fname" name="firstname" placeholder="Your number..">

        <label for="lname">Customer Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="country">enquire About</label>
        <select id="country" name="country">
          <option value="australia">Rental booking</option>
          <option value="canada">Package booking</option>
          <option value="usa">Others</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">
      </form>
    </div>

  </div>
</div>

