<!-- scroll content section -->
<div fxlayout="row" style="background-color:#DED8E2;height: 75%;">
  <div fxlayout="column" fxFlex="45" style="margin-top: 10%;margin-left: 10%;">
     <h1 style="font-size: 46px;color: #4F3460;word-spacing: 5px;line-height: 45px;">No matter where you're going from, we take you there.</h1>
     <p style="margin-top: 5%;font-size: 24px;color: #847F7F;word-spacing: 10px;line-height: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus mollis dictum imperdiet curabitur nibh risus. Interdum vitae quis </p>
     <button mat-raised-button color="primary" style="background-color:#4F3460;margin-top: 10%;margin-left: 30%;">Download Now</button>
  </div>
  <div>
     <img style="width: 75%;margin-left: 10%;margin-top:10%" src="../assets/Hero.png"/>
  </div>
</div>
<!-- about Us section -->
<div fxlayout="column" style="height: 85%;">
  <div>
     <h1 style="text-align: center;color:#4F3460;margin-top: 5%;font-size: 46px;">About Us</h1>
  </div>
  <div>
     <p fxFlex="55"  style="color:#847F7F;margin-top: 3%;font-size: 24px;margin-left: 22%;text-align: center;word-spacing: 10px;line-height: 30px; ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus magnis nisl habitasse id viverra risus euismod mattis. Enim vulputate blandit non, vitae sapien, habitant. Lectus aliquam orci, bibendum aliquam nibh. Phasellus quis aenean sodales massa mauris vestibulum at imperdiet egestas.
     </p>
  </div>
  <div fxLayout="row"fxLayoutGap="22%" style="margin-top: 6%;margin-left: 25%;" >
     <div style="text-align: center;">
        <img src="../assets/icons/events done icon.svg"/>
        <h2>1K+</h2>
        <p style="color: #847F7F;">Events Done</p>
     </div>
     <div style="text-align: center;">
        <img src="../assets/icons/trips done icon.svg"/>
        <h2>10K+</h2>
        <p style="color: #847F7F;">Events Done</p>
     </div>
     <div style="text-align: center;">
        <img src="../assets/icons/packages available icon.svg"/>
        <h2>100K+</h2>
        <p style="color: #847F7F;">Events Done</p>
     </div>
  </div>
  <button mat-stroked-button color="primary" style="color: #4F3460;margin-left: 48%; margin-top: 2%;">Contact</button>
</div>
<!-- Our services section -->
<div fxLayout="column" style="height: 110%;background-color: #DED8E2;width: 92%;margin-left: 4%;margin-top: 3%;  padding: 10px;border-radius: 25px;">
  <h1 style="color:#4F3460;margin-top: 5%;font-size: 46px;margin-left: 40%;">Our Services</h1>
  <diV fxLayout="row" fxLayoutGap="80px" style="margin-left: 8%;margin-top: 5%;">
     <mat-card class="example-card">
        <mat-card-header>
           <div mat-card-avatar class="example-header-image"></div>
           <mat-card-title>Shiba Inu</mat-card-title>
           <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
           <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
           </p>
        </mat-card-content>
        <mat-card-actions>
           <button mat-button>LIKE</button>
           <button mat-button>SHARE</button>
        </mat-card-actions>
     </mat-card>
     <mat-card class="example-card">
        <mat-card-header>
           <div mat-card-avatar class="example-header-image"></div>
           <mat-card-title>Shiba Inu</mat-card-title>
           <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
           <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
           </p>
        </mat-card-content>
        <mat-card-actions>
           <button mat-button>LIKE</button>
           <button mat-button>SHARE</button>
        </mat-card-actions>
     </mat-card>
     <mat-card class="example-card">
        <mat-card-header>
           <div mat-card-avatar class="example-header-image"></div>
           <mat-card-title>Shiba Inu</mat-card-title>
           <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
           <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
           </p>
        </mat-card-content>
        <mat-card-actions>
           <button mat-button>LIKE</button>
           <button mat-button>SHARE</button>
        </mat-card-actions>
     </mat-card>
  </diV>
</div>
<!-- Voice of our Customer -->
<div fxLayout="column" style="height: 100%;margin-top: 3%;">
  <h1 style="color:#4F3460;margin-top: 5%;font-size: 46px;margin-left: 35%;">Voice of our Customer</h1>
  <div style="color:#847F7F;margin-top: 1%;font-size: 24px;margin-left: 30%;word-spacing: 10px;">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing </p>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" style="height: 50%;width: 92%;margin-left: 4%;margin-top: 3%;  padding: 10px;border-radius: 25px;">
     <!-- <mat-carousel>
        <mat-carousel-slide> -->
           <mat-card class="example-card"  style="height: 60%;">
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-content>
                <p>This card has divider and indeterminate progress as footer</p>
                <p>{{ longText }}</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
        <!-- </mat-carousel-slide>
        <mat-carousel-slide> -->
           <mat-card class="example-card"  style="height: 60%;">





              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-content>
                <p>This card has divider and indeterminate progress as footer</p>
                <p>{{ longText }}</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
        <!-- </mat-carousel-slide>
        <mat-carousel-slide> -->
           <mat-card class="example-card"  style="height: 60%;">
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-content>
                <p>This card has divider and indeterminate progress as footer</p>
                <p>{{ longText }}</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
        <!-- </mat-carousel-slide>
        <mat-carousel-slide> -->
           <mat-card class="example-card"  style="height: 60%;">
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-content>
                <p>This card has divider and indeterminate progress as footer</p>
                <p>{{ longText }}</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
        <!-- </mat-carousel-slide>
      </mat-carousel>
      -->

  </div>
  <div>
     <img src="../assets/icons/testimonial scroll icon.svg" style="width: 5%;margin-left: 90%;margin-top: -10%;"/>
  </div>
</div>
<!-- Contact Section -->
<div fxLayout="column" style="width: 100%;height: 55%;">
  <div fxLayout="row">
     <div fxLayout="column" fxFlex="60">
        <div style="margin-left: 10%;">
           <h1 style="color:#4F3460;margin-top: 5%;font-size: 46px;">Feel Free To Contact Us</h1>
        </div>
        <div  style="color:#847F7F;margin-top: 3%;font-size: 24px;margin-left: 10%;word-spacing: 10px;line-height: 30px">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lacus magnis nisl habitasse id</p>
        </div>
     </div>
     <div fxLayout="row" style="margin-left: 10%;margin-top: 6%;">
        <div>
           <img src="../assets/icons/phone call icon.svg" style="width:80%"/>
        </div>
        <div>
           <button mat-raised-button color="primary" style="background-color:#4F3460;margin-top: 6%;margin-left: 40%;">Talk with Us</button>
        </div>
     </div>
  </div>
  <div fxLayout="row" fxLayoutGap="5%" style="margin-top: 3%;margin-left: 35%;">
     <div>
        <button mat-stroked-button color="primary" style="color: #4F3460;"><b>Download  App For Mac</b></button>
     </div>
     <div>
        <button mat-stroked-button color="primary" style="color: #4F3460;"><b>Download  App For Android</b></button>
     </div>
  </div>
</div>
